.content {
  background-color: #f3f3f3;
  font-family: arial;
}
.article-container {
  width: 90%;
  padding: 0 20px;
}
.article-box {
  width: 70%;
  background-color: #e3d4b6;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
}
.review {
  width: 80%;
  padding: 13px 1em;
}
.book-name {
  width: 60%;
  padding: 0 1em;
}
.rev {
  padding: 0 14em;
}
.book-author {
  padding: 0 1em;
  width: 50%;
}
.book-genre {
  padding: 0 1em;
}
@media screen and (max-width: 1100px) {
}
@media screen and (max-width: 940px) {
  .rev {
    padding: 0 6em;
  }
}
@media screen and (max-width: 740px) {
  .rev {
    padding: 0 3em;
  }
}
@media screen and (max-width: 600px) {
  .article-box {
    width: 100%;
  }
  .rev {
    padding: 0 8em;
  }
  #search-bar {
    width: 55%;
  }

  .cob {
    display: flex;
    flex-direction: column;
  }
}

#search-bar {
  width: 65%;
  border: 3px solid #00b4cc;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  color: #9dbfaf;
  transition: width 0.4s ease-in-out;
  margin-top: 1em;
  margin-left: 4em;
}

#dropdown {
  padding: 5px;
  border: 3px solid #00b4cc;
  border-radius: 3px;
  margin-top: 1em;
}
#dropdown option:checked {
  background: #333;
  padding: 20px;
  width: 100px;
  border: 3px solid #f00;
}

@media screen and (max-width: 370px) {
  #search-bar {
    margin-left: 2em;
  }
}
@media screen and (max-width: 600px) {
  .article-box {
    width: 100%;
  }
  .rev {
    padding: 0 8em;
  }
  #search-bar {
    width: 65%;
    margin-left: 0em;
    align-self: center;
    padding: 13px;
  }

  .cob {
    display: flex;
    flex-direction: column-reverse;
  }
  #dropdown {
    width: 40%;
    align-self: center;
    margin-top: 1em;
  }
}
.more {
  display: none;
}
.export-dat {
  background-color: #ffbb54;
  color: white;
  padding: 1em 1.5em;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
}

.export-dat:hover {
  background-color: #ff8147;
}

.export-dat:active {
  background-color: rgb(255, 221, 72);
}

.export-cont {
  margin-top: 3em;
  margin-bottom: 1.5em;
  display: flex;
  justify-content: start;
}
.col-for-subscribe {
  float: left;
  width: 100%;

  margin-top: 6px;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
}
input[type="submit"] {
  background-color: #ffbb54;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border: none;
  padding: 1em;
  font-family: serif;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
input[name="join"],
.btn {
  padding: 1em;
  border: none;
  display: inline-block;
  font-size: 1em;
  line-height: 2em;
  text-decoration: none; /* remove underline from anchors */
  background-color: rgb(223, 210, 153);
  color: white;
  font-style: italic;
  width: 63%;
}
input[name="create"],
.btn {
  padding: 1em;
  border: none;
  display: inline-block;
  font-size: 1em;
  line-height: 2em;
  text-decoration: none; /* remove underline from anchors */
  background-color: rgb(223, 210, 153);
  color: white;
  font-style: italic;
  width: 67%;
}

.first-part-with-classes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.join-class {
  width: 100%;
}

.second-part-with-classes {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  padding: 2em 0;
}
.contanter-for-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.question-about-classes {
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text";
  font-size: 3em;
  padding: 0 0.3em;
}
.answer-about-classes {
  width: 95%;
  display: flex;
  align-self: center;
}
.message-welcome {
  display: flex;
  align-self: center;
}
.message-welcome2 {
  display: flex;
  align-self: center;
}

.all-content {
  display: flex;
  flex-direction: column;
}
.answer {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
  line-height: 27px;
}
.photo-for-first-part {
  border-radius: 10px;
}
.third-part-with-classes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2em 0;
}
.create-class {
  width: 100%;
}
.place-holder-img-group {
  padding: 0 1em;
}

@media screen and (max-width: 1225px) {
  .photo-for-first-part {
    width: 450px;
    height: 400px;
  }
  .question-about-classes {
    font-size: 2em;
  }
  input[name="create"],
  .btn {
    width: 50%;
  }
  input[name="join"],
  .btn {
    width: 50%;
  }
  .answer {
    font-size: 1em;
  }
}
@media screen and (max-width: 1035px) {
  .second-part-with-classes {
    flex-direction: column;
    align-items: center;
  }
  .photo-for-first-part {
    width: 44em;
    height: 31em;
  }
  .col-for-subscribe {
    padding: 1em 0;
  }
  input[name="create"],
  .btn {
    width: 66%;
  }
  input[name="join"],
  .btn {
    width: 63%;
  }
  .third-part-with-classes {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 910px) {
  .photo-for-first-part {
    width: 34em;
    height: 21em;
  }
}
@media screen and (max-width: 740px) {
  input[name="create"],
  .btn {
    width: 56%;
  }
  input[name="join"],
  .btn {
    width: 48%;
  }
  .photo-for-first-part {
    width: 25em;
    height: 16em;
  }
  .answer {
    font-size: 0.7em;
    width: 70%;
    align-self: center;
  }
  .answer-about-classes {
    justify-content: center;
  }
}
@media screen and (max-width: 430px) {
  .photo-for-first-part {
    width: 18em;
    height: 10em;
  }
  input[name="create"],
  .btn {
    width: 46%;
  }
  input[name="join"],
  .btn {
    width: 38%;
  }
}

.dropdown-for-classes {
  width: 250px;

  position: relative;
}

.dropdown-for-classes {
  width: 100%;
  height: 50px;
  font-size: 100%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0;
  background-color: #ffbb54;
  border: none;
  border-bottom: 2px solid #ffbb54;
  color: white;
  appearance: none;
  padding: 10px;
  padding-right: 38px;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: color 0.3s ease, background-color 0.3s ease,
    border-bottom-color 0.3s ease;
  border-radius: 5px;
}

/* For IE <= 11 */
.dropdown-for-classes::-ms-expand {
  display: none;
}
.dropdown-for-classes:hover,
.dropdown-for-classes:focus {
  color: #ffbb54;
  background-color: white;
  border-bottom-color: #dcdcdc;
}
.dropdown-for-classes:hover ~ .dropdown-for-classes-icon,
.dropdown-for-classes:focus ~ .dropdown-for-classes-icon {
  background-color: white;
  border-color: #dcdcdc;
}
.first-part-opt {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.opt-class {
  display: flex;
  align-items: center;
}
.cob {
  display: flex;
  flex-direction: row;
}
.cob1 {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 910px) {
  .first-part-opt {
    display: flex;
    flex-direction: column;
  }
  .opt-class {
    justify-content: center;
  }
  .secont-type-of-user-choese {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .cob {
    width: 75%;
    padding: 1em 0;
  }
  .cob1 {
    flex-direction: column;
  }
  .css-for-drop {
    align-self: center;
    width: 70%;
  }
}
@media screen and (max-width: 580px) {
  .is-part-of {
    font-size: 1.1em;
    text-align: center;
  }
  .is-part-text {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 430px) {
  .is-part-of {
    font-size: 1.5em;
  }
  .is-part-text {
    font-size: 0.7em;
  }
  .cob {
    width: 75%;
    padding: 1em 0;
  }
}
