.content {
  background-color: #f3f3f3;
  font-family: arial;
}
.article-container {
  width: 90%;
  padding: 0 20px;
}
.article-box {
  width: 70%;
  background-color: #e3d4b6;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
}
.review {
  width: 80%;
  padding: 13px 1em;
}
.book-name {
  width: 60%;
  padding: 0 1em;
}
.rev {
  padding: 0 14em;
}
.book-author {
  padding: 0 1em;
  width: 50%;
}
@media screen and (max-width: 1100px) {
}
@media screen and (max-width: 940px) {
  .rev {
    padding: 0 6em;
  }
}
@media screen and (max-width: 740px) {
  .rev {
    padding: 0 3em;
  }
}
@media screen and (max-width: 600px) {
  .article-box {
    width: 100%;
  }
  .rev {
    padding: 0 8em;
  }
  #search-bar {
    width: 55%;
  }

  .cob {
    display: flex;
    flex-direction: column;
  }
}

#search-bar {
  width: 40%;
  border: 3px solid #00b4cc;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  color: #9dbfaf;
  transition: width 0.4s ease-in-out;
  margin-top: 1em;
  margin-left: 4em;
}

#dropdown {
  padding: 5px;
  border: 3px solid #00b4cc;
  border-radius: 3px;
}
#dropdown option:checked {
  background: #333;
  padding: 20px;
  width: 100px;
  border: 3px solid #f00;
}

@media screen and (max-width: 370px) {
  #search-bar {
    margin-left: 2em;
  }
}
@media screen and (max-width: 600px) {
  .article-box {
    width: 100%;
  }
  .rev {
    padding: 0 8em;
  }
  #search-bar {
    width: 65%;
    margin-left: 0em;
    align-self: center;
    padding: 13px;
  }

  .cob {
    display: flex;
    flex-direction: column-reverse;
  }
  #dropdown {
    width: 40%;
    align-self: center;
    margin-top: 1em;
  }
}
