/* css for the contact page */



.contactLabel{
    text-indent: 3vw;
    margin-bottom: 1em;
}

.contactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vw;
}

.submitContactButton{
    height: 5em;
    width: 10em;
}

.contactInput{
    width: 30vw;
}

.contactCommentLabel{
    width: 60vw;
    height: 10vw;
}

.mapWrapper{
    position: relative;
    padding-bottom: 20.8333333%;
    height: 0;
}

.mapWrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.contact-form-parent-final{
    width: 100%;
    height: 100%;
}

.contact-image{
    width: 100%;
    height: 100%;
    margin-top: 2em;
}

.contact-zone{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
    padding-top: 1em;
}

 .button_style_updated{
    font-size: 1em;
    padding: 0.5em 2em;
    border-radius: 5%;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #555555
 }

 .chat-image{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .contact-book-image{
    width: 30em;
    height: 17em;
    border-radius: 8px;
 }

 .contact-top-text{
     text-align: center;
     color: #ff4411;
 }

.header_message, .review_zone_label{
    color: #ff4411;
}


@media screen and (max-width: 800px) {
    .contact-zone{
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 450px){
    .contact-book-image{
        width: 20em;
        height: 14em;
    }

    .contact-zone{
        padding-top: 0em;
    }

    
}

@media screen and (max-width: 700px){
    .mapWrapper{
        height: 15em;
        margin-top: 1em;
    }
}