html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.content {
  flex-grow: 1;
  flex-basis: auto;
}
.mainFooter {
  display: flex;
  flex-direction: column;
  background-color: #343434;
}
.firstPartFooter {
  display: flex;
  justify-content: space-around;
}
.secondPartFooter {
  background-color: #2e2d2a;
  padding: 0.7em;
  display: flex;
  justify-content: center;
}
.col a {
  display: flex;
  flex-direction: column;
}
.body {
  display: flex;
  flex-direction: column;
}
* {
  box-sizing: border-box;
}
.footerElement-subscribe {
  display: flex;
  align-self: center;
  flex-direction: column;
}
.footerElement2 {
  display: flex;
}
.footerElement3 {
  display: flex;
  justify-content: center;
  width: 18%;
}
.registration-button-main {
  display: flex;
  align-content: center;
}
.button-register {
  margin: 5px 0;
  padding: 1em;
  font-size: 1em;
  line-height: 2em;
  display: inline-block;
  background-color: #f4511e;
  border: none;
  text-align: center;
  width: 22em;
  transition: all 0.5s;
  cursor: pointer;
}

.link-words {
  font-size: 1em;
}
.links-elements {
  color: white;
}
a {
  text-decoration: none;
}
.button-register span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-register span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -2em;
  transition: 0.5s;
}

.button-register:hover span {
  padding-right: 2em;
}

.button-register:hover span:after {
  opacity: 1;
  right: 0;
}
/* style the container */
.container {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
}

/* style inputs and link buttons */
input[name="emailAdress"],
.btn {
  padding: 1em;
  border: none;
  display: inline-block;
  font-size: 1em;
  line-height: 2em;
  text-decoration: none; /* remove underline from anchors */
  background-color: #100a0a;
  color: white;
  font-style: italic;
}
.button {
  margin: 5px 0;
  padding: 1em;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
  border-radius: 50%;
  color: white;
  margin: 0 2em;
}
input:hover,
.btn:hover {
  opacity: 1;
}

/* style the submit button */
input[type="submit"] {
  background-color: #4caf50;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border: none;
  padding: 1em;
  font-family: inherit;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Two-column layout */
.col {
  float: left;
  width: 95%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}
.col-for-subscribe {
  float: left;
  width: 95%;

  margin-top: 6px;
  display: flex;
  flex-direction: row;
}
.col-for-social-media {
  float: left;
  margin: auto;
  display: flex;
  flex-direction: row;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.fb {
  background-color: #4e6491;
  color: white;
}
.fb:hover {
  background-color: #55acee;
}

.twitter {
  background-color: #4e6491;
  color: white;
}
.twitter:hover {
  background-color: #55acee;
}
.google {
  background-color: #e46757;
  color: white;
}
.google:hover {
  background-color: #d14735;
}
.list-unstyled {
  text-decoration: none;
  text-align: center;
  color: white;
  list-style-type: none;
}
@media screen and (max-width: 933px) {
  .button-register {
    font-size: 0.8em;
  }
  input[name="emailAdress"],
  .btn {
    font-size: 0.8em;
  }
  input[type="submit"] {
    font-size: 0.76em;
  }
  .button {
    margin: 0 1.5em;
  }
}
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  .firstPartFooter {
    display: flex;
    flex-direction: column;
  }
  .footerElement3 {
    width: 100%;
  }
}
@media screen and (max-width: 380px) {
  .button-register {
    font-size: 0.8em;
  }
  input[name="emailAdress"],
  .btn {
    font-size: 0.8em;
  }
  input[type="submit"] {
    font-size: 0.76em;
  }
  .button {
    margin: 0 1.3em;
    padding: 0.8em;
  }
  .col {
    width: 80%;
    margin-top: 0;
  }

  .footerElement3 {
    width: 100%;
  }
}
