* {
    margin: 0;
    padding: 0;
  }

.indexHeader{
    height: 30em;
    background-image: url("../../images/mainCover.jpg");
    background-size: cover;
	background-repeat: no-repeat;
    position: relative;
    
}

.navMenu{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}


.headerMessage{
    display: flex;
   justify-content: center;
   text-align: center;
}

.navItems{
    display: flex;
    flex-direction: row;
    list-style-type: none; /* remove bullets from ul li */
}

.listMenu{
    margin-right: 5em;
    margin-top: 3em;
}


.menuLink:link, .logoText {
    text-decoration: none;
  }
  
.menuLink:visited, .logoText {
    text-decoration: none;
  }
  
.menuLink{
    color: white;
    transition: 0.4s;
}

.logo{
    margin-left: 7em;
    margin-top: 3em;
}

.logoText{
    color: white;
    font-size: 2em;
}

.textHeader{
    margin-top: 2em;
    color: white;
}

.show-menu-btn,.hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
  }

  .show-menu-btn{
    float: right;
  }

  .show-menu-btn i{
    line-height: 100px;
  }

  .show-menu-btn:hover,
.hide-menu-btn:hover{
  color: white;
}

.show-menu-btn,
.hide-menu-btn{
  color: white;
}

  #chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
  }

  div.mobileMessage{
    display: none;
  }

  @media screen and (max-width:800px) {
    .show-menu-btn,.hide-menu-btn{
        display: block;
      }

    .show-menu-btn{
        margin-right: 1em;
        margin-top: 0.5em;
        font-size: 3em;
    }
      .navItems{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #333;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
        display:flex;
        flex-direction: column;
        align-items: center;
      }
      
      .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;
      }
      #chk:checked ~ .navItems{
        right: 0;
      }

      .logo{
          
          position: relative;
          left: -100%;
          
      }

      .show-menu-btn:hover,
      .hide-menu-btn:hover{
        color: black;
      }

  }

  @media screen and (max-width:530px) {
    div.mobileMessage{
      display: inline-block;
      color: white;
    }

    .textHeader{
      display: none;
    }
  }