* {
    margin: 0;
    padding: 0;
  }


.navMenu{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}



.headerMessage{
   display: flex;
   justify-content: center;
   text-align: center;
}

.navItems{
    display: flex;
    flex-direction: row;
    list-style-type: none; /* remove bullets from ul li */
}

.listMenu{
    margin-right: 5em;
    margin-top: 3em;
}


.menuLink:link, .logoText {
    text-decoration: none;
  }
  
.menuLink:visited, .logoText {
    text-decoration: none;
  }
  
.menuLink{
    color: white;
    transition: 0.4s;
}

.logo{
    margin-left: 7em;
    margin-top: 3em;
}

.logoText{
    color: white;
    font-size: 2em;
}

.textHeader{
    margin-top: 2em;
    color: white;
}

.show-menu-btn,.hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
  }

  .show-menu-btn{
    float: right;
  }

  .show-menu-btn i{
    line-height: 100px;
  }

  .show-menu-btn:hover,
.hide-menu-btn:hover{
  color: white;
}

.show-menu-btn,
.hide-menu-btn{
  color: white;
}

  #chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
  }

  @media screen and (max-width:800px) {
    .show-menu-btn,.hide-menu-btn{
        display: block;
      }

    .show-menu-btn{
        margin-right: 1em;
        margin-top: 0.5em;
        font-size: 3em;
    }
      .navItems{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #333;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
        display:flex;
        flex-direction: column;
        align-items: center;
      }
      
      .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;
      }
      #chk:checked ~ .navItems{
        right: 0;
      }

      .logo{
          
          position: relative;
          left: -100%;
          
      }

      .show-menu-btn:hover,
      .hide-menu-btn:hover{
        color: black;
      }

  }

.mainLayout{
  margin-left: 5em;
  margin-right: 5em;
}


@media screen and (min-width: 675px){
  .horizontalSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (max-width: 675px){
  .horizontalSection{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
}

@media screen and (max-width: 400px){
  .mainLayout{
    margin-left: 2em;
    margin-right: 2em;
  }
}

.horizontalSection_statistics{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 3em;
}

.nodotlist{
  list-style-type: none;
}


.quotes{
  display: flex;
  flex-flow: row;
}

#quotewrt{
  margin-right: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
} 

.statistics{
  height: 14em;
  width: 14em;
  border: 2px solid red;
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content:center;
  align-items: center;
}


.updates{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.update__comp{
  /*border: 2px solid red;*/
  margin: 2em;
}

.info{
  max-width: 100%;
  max-height: 100%;
}

.main_message_container{
  width: 50%;
  margin-left: 3em;
  margin-top: 1.5em;
}



.login_container{
  text-align: center;
  margin-top: 3em;
  width: 30%;
  margin-right: 5em;
  height: 13em;
}

#popup-login{
  font-size: 1em;
  padding: 0.5em 2em;
  border-radius: 5%;
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 2px solid #555555
}

#popup-login:hover{
  background-color: #555555;
  color: white;
}

#popup-register{
  font-size: 1em;
  padding: 0.5em 2em;
  border-radius: 5%;
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 2px solid #555555
}

#popup-register:hover{
  background-color: #555555;
  color: white;
}

#segment__title{
  font-weight: bold;
}

#segment__message{
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}


#loginSection{
  display: flex;
  margin: 1em;
  align-self: end;
  box-shadow: 5px 10px rgb(231, 192, 143)ack;
  align-items: center;
}

.greetingMessage{
  text-indent: 1em;

}

.greetingMessageTitle{
  font-weight: bold;
  font-size: large;
  text-indent: 2em;
  
}

.indentedText{
  text-indent: 2em;
}

.greetingMessagequote{
  font-style: oblique;
  text-indent: 2em;
 
}

.contain {
  width: 100%;
  height: auto;
}

.row {
  overflow: scroll;
  width: 100%;
  height: auto;
}

.row__inner {
  transition: 450ms transform;
  font-size: 0;
  white-space: nowrap;
}

.tile {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 400px;
  margin-left: 10px;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: top left;
}
.tile__img {
  height: 250px;
  width: auto;
  object-fit: cover;
}
.row__inner:hover {
  transform: translate3d(0, 0, -62.5px);
}
.row__inner:hover .tile {
  opacity: 0.3;
}
.row__inner:hover .tile:hover {
  transform: scale(1.2);
  opacity: 1;
}

.verticalSection{
  margin-top: 2em;
  margin-bottom: 2em;
}

.middlePoz{
  display: flex;
  justify-content: center;
}

.quote_greeting{
  text-indent: 3vw;
  margin-bottom: 1em;
}

.ranking-image{
  width: 10em;
  height: 12em;
}

.main_paragrapf_title{
  text-align: center;
  color: red;
}

.text_login_section{
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px){
  .text_login_section{
    flex-direction: column-reverse;
    justify-content: unset;
  }

  .main_message_container{
    width: 100%;
    margin: 0 auto;
  }

  .login_container{
    width: 100%;
    margin-top: 2em;
    height: 10em;
  }
}