* {
    margin: 0;
    padding: 0;
  }
 



.indexHeader{
    padding: 8em 0 8em 0;
    background-image: url("../../images/mainCover.jpg");
    width: 100%;
    background-size: cover;
	background-repeat: no-repeat;
    text-align: center;
    display: flex;
    align-items: center;
  justify-content: center;
    position: relative;
}

.rightMenu{
    
}


.navItems{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0;
   
}


