#top_five_layout{
    height: 20em;
    width: 10%;
}

.top_five_image{
    height: 13em;
    width: 10em;
}

.top_five_parent{
    margin-top: 2em;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
}


@media screen and (min-width: 1000px) and (max-width: 1300px) {
    #top_five_layout {
        width: 20%;
    }
}

@media screen and (max-width: 1000px) {
    #top_five_layout {
        width: 33%;
    }
}

@media screen and (max-width: 700px) {
    #top_five_layout {
        width: 50%;
    }
}